@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e40af;
  --primary-light: #dbeafe;
  --accent: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-gray-800;
}
